# Simple Reccomendation System

In [1]:
import pandas as pd
from surprise import SVD

In [2]:
DIR= 'C:\\Users\\jesse\\Desktop\\Honors Project\\'

In [4]:
books = pd.read_csv(DIR+'books_simple.csv')
ratings = pd.read_csv(DIR+'simple_ratings.csv')

In [10]:
n_books = books['book_id'].nunique()
n_users = ratings['user_id'].nunique()
print(f'Number of books: {n_books}')
print(f'Number of users: {n_users}')
print(f'Size of matrix: {n_books*n_users}')
print(f'Matrix sparsity: {len(ratings)/(n_books*n_users)}')

Number of books: 92782
Number of users: 567806
Size of matrix: 52682176292
Matrix sparsity: 0.000279637422690093

This matrix is very very sparse, but that's okay.

In [20]:
books.head()

    book_id                                              title
0  12182387                     The Passion (Dark Visions, #3)
1  20135365                                    Hope's Daughter
2  21401181                           Half Bad (Half Life, #1)
3  10099492  Twelfth Grade Kills (The Chronicles of Vladimi...
4  22642971                                  The Body Electric

In [21]:
ratings.head()

                            user_id  book_id  rating
0  8842281e1d1347389f2ab93d60773d4d  8684868       3
1  8842281e1d1347389f2ab93d60773d4d  8423493       2
2  8842281e1d1347389f2ab93d60773d4d    87976       5
3  8842281e1d1347389f2ab93d60773d4d    18116       5
4  8842281e1d1347389f2ab93d60773d4d  2767052       5

In [23]:
from surprise import NormalPredictor, Dataset, Reader
from surprise.model_selection import cross_validate

reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(ratings[['user_id','book_id','rating']], reader)

cross_validate(NormalPredictor(), data, cv=2)

{'test_rmse': array([1.36078665, 1.36082815]),
 'test_mae': array([1.0782165 , 1.07847025]),
 'fit_time': (9.521519184112549, 11.88304352760315),
 'test_time': (62.87069582939148, 64.35859966278076)}

In [24]:
from surprise import SVD

algo = SVD()

cross_validate(algo, data, cv=5)