# Cleaning Books file

In [1]:
import gzip
import numpy as np
import pandas as pd

c:\Users\jesse\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Import, prelim column selection, downsizing types

In [2]:
# Function to process a chunk of data
def process_data(chunk, columns=None):
    # If columns is not None, keep only those columns
    if columns is not None:
        chunk = chunk[columns]
    return chunk

# Function to read data in chunks and process each chunk
def load_data(file_name, head = None, columns=None, chunksize = 1000):
    chunks = []
    count = 0
    with gzip.open(file_name) as fin:
        for chunk in pd.read_json(fin, lines=True, chunksize=chunksize):
            # Process the chunk
            processed_chunk = process_data(chunk, columns)
            chunks.append(processed_chunk)
            
            count += 1
            # break if reaches the head-th chunk
            if (head is not None) and (count > head):
                break

    # Combine all chunks into a single DataFrame
    df = pd.concat(chunks, ignore_index=True)
    
    return df

In [3]:
DIR = 'C:\\Users\\jesse\\Desktop\\Honors Project\\goodreads_data\\raw\\'
ya_books = load_data(DIR + 'goodreads_books_young_adult.json.gz', head = 1)

In [4]:
ya_books

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,,1,[147734],US,,"[{'count': '1057', 'name': 'to-read'}, {'count...",B0056A00P4,true,4.04,B0056A00P4,...,,,,https://www.goodreads.com/book/show/12182387-t...,https://s.gr-assets.com/assets/nophoto/book/11...,12182387,4,285263,"The Passion (Dark Visions, #3)","The Passion (Dark Visions, #3)"
1,,2,[425995],US,,"[{'count': '1010', 'name': 'to-read'}, {'count...",B006KLYIAG,true,3.80,B006KLYIAG,...,,,,https://www.goodreads.com/book/show/20135365-h...,https://s.gr-assets.com/assets/nophoto/book/11...,20135365,5,18450480,Hope's Daughter,Hope's Daughter
2,0698143760,17,[493993],US,,"[{'count': '1799', 'name': 'fantasy'}, {'count...",,true,3.80,,...,3,,2014,https://www.goodreads.com/book/show/21401181-h...,https://images.gr-assets.com/books/1394747643m...,21401181,33,24802827,"Half Bad (Half Life, #1)","Half Bad (Half Life, #1)"
3,,9,[176160],US,eng,"[{'count': '7173', 'name': 'to-read'}, {'count...",B0042JSOQC,true,4.35,B004IYJDXY,...,,,,https://www.goodreads.com/book/show/10099492-t...,https://s.gr-assets.com/assets/nophoto/book/11...,10099492,152,10800440,Twelfth Grade Kills (The Chronicles of Vladimi...,Twelfth Grade Kills (The Chronicles of Vladimi...
4,0990662616,428,[],US,eng,"[{'count': '9481', 'name': 'to-read'}, {'count...",,false,3.71,B00MW0MTGE,...,10,Special Edition,2014,https://www.goodreads.com/book/show/22642971-t...,https://images.gr-assets.com/books/1406979059m...,22642971,1525,42144295,The Body Electric,The Body Electric
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,,32,[],US,swe,"[{'count': '95', 'name': 'to-read'}, {'count':...",,false,3.96,,...,5,,2016,https://www.goodreads.com/book/show/30526430-t...,https://images.gr-assets.com/books/1465731570m...,30526430,199,51049267,Tio över ett,Tio över ett
1996,,3,[530141],US,eng,"[{'count': '135', 'name': 'to-read'}, {'count'...",B00AAQCF0C,true,4.52,B00AAQCF0C,...,,,,https://www.goodreads.com/book/show/19002702-d...,https://s.gr-assets.com/assets/nophoto/book/11...,19002702,5,22021370,Devada (Angels and Demons #1),Devada (Angels and Demons #1)
1997,1534402861,1,[1017806],US,,"[{'count': '131', 'name': 'to-read'}, {'count'...",,false,5.00,,...,10,,2017,https://www.goodreads.com/book/show/34144410-r...,https://images.gr-assets.com/books/1503365773m...,34144410,3,55181224,Robot Army,Robot Army
1998,,9,[359888],US,spa,"[{'count': '271', 'name': 'to-read'}, {'count'...",,false,3.69,,...,4,,2012,https://www.goodreads.com/book/show/13558555-s...,https://images.gr-assets.com/books/1332569273m...,13558555,49,19131368,"Saga de Brujas (Witch, #1-2)","Saga de Brujas (Witch, #1-2)"
1999,3841421687,394,[728998],US,ger,"[{'count': '4272', 'name': 'to-read'}, {'count...",,false,3.85,B0721FKW57,...,10,,2015,https://www.goodreads.com/book/show/23519340-s...,https://images.gr-assets.com/books/1430163084m...,23519340,4167,44161355,"Silber: Das dritte Buch der Träume (Silber, #3)","Silber: Das dritte Buch der Träume (Silber, #3)"

In [5]:
ya_books.columns

Index(['isbn', 'text_reviews_count', 'series', 'country_code', 'language_code',
       'popular_shelves', 'asin', 'is_ebook', 'average_rating', 'kindle_asin',
       'similar_books', 'description', 'format', 'link', 'authors',
       'publisher', 'num_pages', 'publication_day', 'isbn13',
       'publication_month', 'edition_information', 'publication_year', 'url',
       'image_url', 'book_id', 'ratings_count', 'work_id', 'title',
       'title_without_series'],
      dtype='object')

Only going to keep 'book_id','title', 'series', 'text_reviews_count','ratings_count','country_code', 'language_code',
       'popular_shelves', 'is_ebook', 'average_rating',
       'similar_books', 'description', 'authors',
       'publisher', 'num_pages', 'publication_day',
       'publication_month',  'publication_year',  'edition_information'

In [6]:
ya_books = load_data(DIR + 'goodreads_books_young_adult.json.gz', columns = ['book_id','title', 'series', 'text_reviews_count','ratings_count','country_code', 'language_code',
       'popular_shelves', 'is_ebook', 'average_rating',
       'similar_books', 'description', 'authors',
       'publisher', 'num_pages', 'publication_year'])
ya_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93398 entries, 0 to 93397
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   book_id             93398 non-null  int64
 1   title               93398 non-null  object
 2   series              93398 non-null  object
 3   text_reviews_count  93398 non-null  int64
 4   ratings_count       93398 non-null  int64
 5   country_code        93398 non-null  object
 6   language_code       93398 non-null  object
 7   popular_shelves     93398 non-null  object
 8   is_ebook            93398 non-null  object
 9   average_rating      93398 non-null  float64
 10  similar_books       93398 non-null  object
 11  description         93398 non-null  object
 12  authors             93398 non-null  object
 13  publisher           93398 non-null  object
 14  num_pages           93398 non-null  object
 15  publication_year    93398 non-null  object
dtypes: float64(1), int64(3), object(12)
memory usage: 11.4+ MB

In [7]:
ya_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93398 entries, 0 to 93397
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   book_id             93398 non-null  int64
 1   title               93398 non-null  object
 2   series              93398 non-null  object
 3   text_reviews_count  93398 non-null  int64
 4   ratings_count       93398 non-null  int64
 5   country_code        93398 non-null  object
 6   language_code       93398 non-null  object
 7   popular_shelves     93398 non-null  object
 8   is_ebook            93398 non-null  object
 9   average_rating      93398 non-null  float64
 10  similar_books       93398 non-null  object
 11  description         93398 non-null  object
 12  authors             93398 non-null  object
 13  publisher           93398 non-null  object
 14  num_pages           93398 non-null  object
 15  publication_year    93398 non-null  object
dtypes: float64(1), int64(3), object(12)
memory usage: 11.4+ MB

Seeing if can downsize any of the types

In [8]:
for col in ya_books.columns:
    if ya_books[col].dtype == 'int64' or ya_books[col].dtype == 'float64':
        print(ya_books[col].min(), ya_books[col].max(), col)

50 36524503 book_id
0 142645 text_reviews_count
0 4899965 ratings_count
0.0 5.0 average_rating

Downgrade types (book_id to int32, text_reviews_count to int32, ratings_count to int32, and average_rating to float16)

In [9]:
ya_books['book_id']= ya_books['book_id'].astype('int32')
ya_books['text_reviews_count'] = ya_books['text_reviews_count'].astype('int32')
ya_books['ratings_count'] = ya_books['ratings_count'].astype('int32')
ya_books['average_rating'] = ya_books['average_rating'].astype('float16')

## Other cleaning steps

### Duplicates? No

In [10]:
#check for duplicate book_id in ya_books
ya_books['book_id'].duplicated().sum()

0

### NaNs?

In [11]:
#set blank values to nan
ya_books = ya_books.replace(r'^\s*$', np.nan, regex=True)

In [12]:
#summarize na values
ya_books.isna().sum()

book_id                   0
title                     0
series                    0
text_reviews_count        0
ratings_count             0
country_code              0
language_code         29632
popular_shelves           0
is_ebook                  0
average_rating            0
similar_books             0
description            4288
authors                   0
publisher             18599
num_pages             21703
publication_year      15503
dtype: int64

#### Language NaNs

In [13]:
#print rows with na language_code
ya_books[ya_books['language_code'].isna()]

,book_id,title,series,text_reviews_count,ratings_count,country_code,language_code,popular_shelves,is_ebook,average_rating,similar_books,description,authors,publisher,num_pages,publication_year
0,12182387,"The Passion (Dark Visions, #3)",[147734],1,4,US,NaN,"[{'count': '1057', 'name': 'to-read'}, {'count...",true,4.039062,"[519546, 1295074, 21407416]",This is the final tale in the bestselling auth...,"[{'author_id': '50873', 'role': ''}, {'author_...",NaN,NaN,NaN
1,20135365,Hope's Daughter,[425995],2,5,US,NaN,"[{'count': '1010', 'name': 'to-read'}, {'count...",true,3.800781,"[13400912, 13327517, 18107102, 15797097, 11472...",Life should be simple for Cassie.\nFor the sma...,"[{'author_id': '5395324', 'role': ''}]",NaN,NaN,NaN
2,21401181,"Half Bad (Half Life, #1)",[493993],17,33,US,NaN,"[{'count': '1799', 'name': 'fantasy'}, {'count...",true,3.800781,"[15728807, 17182499, 15673520, 16081758, 17842...",Wanted by no one.\nHunted by everyone.\nSixtee...,"[{'author_id': '7314532', 'role': ''}]",Viking Children's,416,2014
5,31556136,Like Water,[],45,109,US,NaN,"[{'count': '3010', 'name': 'to-read'}, {'count...",false,3.890625,[],A gorgeously written and deeply felt literary ...,"[{'author_id': '6537142', 'role': ''}]",Balzer + Bray,304,2017
7,12182388,"The Possessed (Dark Visions, #2)",[150778],1,4,US,NaN,"[{'count': '1032', 'name': 'to-read'}, {'count...",true,3.919922,"[84066, 1295074]",NaN,"[{'author_id': '50873', 'role': ''}, {'author_...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93385,282240,"Demon Witch (The Ravenscliff, #2)","[187755, 457095]",17,491,US,NaN,"[{'count': '248', 'name': 'to-read'}, {'count'...",false,3.990234,"[10136093, 9637544, 18106312, 8533276, 2513197...",Devon March matches wits and wizardry against ...,"[{'author_id': '164102', 'role': ''}]",ReganBooks,388,2004
93386,25332051,The Queen of Bright and Shiny Things,[],8,19,US,NaN,"[{'count': '10695', 'name': 'to-read'}, {'coun...",false,3.750000,"[23310742, 22880504, 22011484, 23281781, 27132...",Sage Czinski is trying really hard to be perfe...,"[{'author_id': '835348', 'role': ''}]",Square Fish,352,2016
93389,22521638,The Monster Within,[722367],3,8,US,NaN,"[{'count': '1671', 'name': 'to-read'}, {'count...",true,3.810547,"[17452685, 31925124, 17794299, 18209531, 10726...",The moment seventeen-year-old Samantha Thompso...,"[{'author_id': '4528793', 'role': ''}]",NaN,NaN,NaN
93390,13536362,"The Voice on the Radio (Janie Johnson, #3)",[152658],20,126,US,NaN,"[{'count': '2703', 'name': 'to-read'}, {'count...",false,3.609375,"[522686, 403651, 1152758, 268918, 936501, 5247...",NaN,"[{'author_id': '9059', 'role': ''}]",NaN,NaN,NaN
93395,1885730,Joel and Cat Set the Story Straight,[],55,1094,US,NaN,"[{'count': '1684', 'name': 'to-read'}, {'count...",false,3.779297,"[1957880, 2490879, 8030321, 13152142, 6849661,...",NaN,"[{'author_id': '348478', 'role': ''}, {'author...",Penguin,240,2007

In [14]:
#print number of books in each language_code
ya_books['language_code'].value_counts().head(50)

language_code
eng      35989
en-US     4996
en-GB     2922
ger       2798
spa       2511
fre       1788
ita       1761
ind       1623
nl        1430
por       1156
cze        787
tur        613
swe        609
fin        494
pol        392
dan        383
en-CA      366
bul        332
slo        291
gre        281
hun        276
rum        243
nor        176
per        160
msa        134
scr        122
srp        111
vie        110
est        103
rus        101
heb         91
lav         89
lit         82
cat         72
ara         66
tha         49
jpn         30
zho         24
nob         22
ben         21
kat         21
fil         18
slv         18
en          13
ukr         13
tam         11
nno          6
isl          6
pes          6
mal          5
Name: count, dtype: int64

In [15]:
#what country codes?
ya_books['country_code'].value_counts()

country_code
US    93398
Name: count, dtype: int64

Both en and en-CA appear to be english, as do eng, en-USA, and en-GB. However, a lot of the NaNs also seem to be in English. Can't use country code to determine language since all 93k entries are in US. Could potentially use some kind of NLP -- to be determined. Leaving all NaNs for now and not filtering at all.

Other NaNs are publisher, pages, description, series (when stand-alone NaN -- potentially convert to binary series or not), and publication year. TBD what to do with each. Will leave as-is for now.

## Formatting / Feature adjustment (not engineering)

Turning complex author lists into plain list of ids

In [16]:
def extract_author_ids(author_list):
    try:
        # Extract the 'author_id' from each dictionary and return a list of ids
        return [d['author_id'] for d in author_list if 'author_id' in d]
    except TypeError:
        return None

ya_books['authors'] = ya_books['authors'].apply(extract_author_ids)

Converting popular_shelves to a list of genres (removing the size of shelves) -- they are in order right now from shelves most frequently to least frequently seen on. Eventually woudl like to cross-reference with a list of genres to get a more streamlined list of genres and remove things like 'to-read','currently reading',and 'kindle' which are classifiers but not genres.

In [17]:
def extract_shelves(shelf_list):
    try:
        # Extract the 'shelf name' from each dictionary and return a list of ids
        return [d['name'] for d in shelf_list if 'name' in d]
    except TypeError:
        return None
    
ya_books['popular_shelves'] = ya_books['popular_shelves'].apply(extract_shelves)

Making empty series lists NaN

In [18]:
ya_books['series'] = ya_books['series'].apply(lambda x: np.nan if len(x)==0 else x)

In [20]:
ya_books

,book_id,title,series,text_reviews_count,ratings_count,country_code,language_code,popular_shelves,is_ebook,average_rating,similar_books,description,authors,publisher,num_pages,publication_year
0,12182387,"The Passion (Dark Visions, #3)",[147734],1,4,US,NaN,"[to-read, young-adult, ya, paranormal, fantasy...",true,4.039062,"[519546, 1295074, 21407416]",This is the final tale in the bestselling auth...,"[50873, 232533]",NaN,NaN,NaN
1,20135365,Hope's Daughter,[425995],2,5,US,NaN,"[to-read, sci-fi, young-adult, dystopia, dysto...",true,3.800781,"[13400912, 13327517, 18107102, 15797097, 11472...",Life should be simple for Cassie.\nFor the sma...,[5395324],NaN,NaN,NaN
2,21401181,"Half Bad (Half Life, #1)",[493993],17,33,US,NaN,"[fantasy, young-adult, ya, favorites, books-i-...",true,3.800781,"[15728807, 17182499, 15673520, 16081758, 17842...",Wanted by no one.\nHunted by everyone.\nSixtee...,[7314532],Viking Children's,416,2014
3,10099492,Twelfth Grade Kills (The Chronicles of Vladimi...,[176160],9,152,US,eng,"[to-read, vampires, currently-reading, young-a...",true,4.351562,"[25861113, 7430195, 18765937, 6120544, 3247550...",It all comes down to this.\nVlad's running out...,[293603],NaN,NaN,NaN
4,22642971,The Body Electric,NaN,428,1525,US,eng,"[to-read, young-adult, sci-fi, science-fiction...",false,3.710938,"[20499652, 17934493, 13518102, 16210411, 17149...",The future world is at peace.\nElla Shepherd h...,[4018722],Scripturient Books,351,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93393,18221503,"Ölmem Gerekirse (Revenants, #3)",[294897],3,21,US,tur,"[to-read, favorites, young-adult, paranormal, ...",false,4.210938,"[11413298, 13508069, 7849034, 10552965, 155206...",Sevdigini Kurtarmak Icin Ne Kadarina Hazirsin?...,[3353516],Akil Celen Kitaplar,408,2013
93394,8987191,"The Mockingbirds (The Mockingbirds, #1)",[238215],9,42,US,en-US,"[to-read, young-adult, ya, contemporary, ficti...",true,3.789062,"[8574517, 6440071, 6625948, 7036227, 6768407, ...",Some schools have honor codes.\nOthers have ha...,[3081700],"Little, Brown Books for Young Readers",360,2010
93395,1885730,Joel and Cat Set the Story Straight,NaN,55,1094,US,NaN,"[to-read, young-adult, ya, australian, romance...",false,3.779297,"[1957880, 2490879, 8030321, 13152142, 6849661,...",NaN,"[348478, 570577]",Penguin,240,2007
93396,23636536,Another Day,[540527],14,29,US,eng,"[to-read, currently-reading, young-adult, ya, ...",true,3.669922,"[26802671, 20662291, 23615716, 23870836, 21490...",The eagerly anticipated companion to David Lev...,[11664],Knopf Books for Young Readers,336,2015
93397,17805813,"Ondine (Ondine Quartet, #0.5)",[494165],27,327,US,en-GB,"[to-read, young-adult, paranormal, fantasy, ki...",true,4.019531,"[18868682, 18171572, 15795797, 16120595, 29228...","""I shouldn't get involved.""\nRebellious and he...",[4633056],NaN,84,2013

In [22]:
ya_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93398 entries, 0 to 93397
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   book_id             93398 non-null  int32
 1   title               93398 non-null  object
 2   series              54640 non-null  object
 3   text_reviews_count  93398 non-null  int32
 4   ratings_count       93398 non-null  int32
 5   country_code        93398 non-null  object
 6   language_code       63766 non-null  object
 7   popular_shelves     93398 non-null  object
 8   is_ebook            93398 non-null  object
 9   average_rating      93398 non-null  float16
 10  similar_books       93398 non-null  object
 11  description         89110 non-null  object
 12  authors             93398 non-null  object
 13  publisher           74799 non-null  object
 14  num_pages           71695 non-null  object
 15  publication_year    77895 non-null  object
dtypes: float16(1), int32(3), object(12)
memory usage: 9.8+ MB

In [23]:
for col in ya_books.select_dtypes(include=['float16']).columns:
    ya_books[col] = ya_books[col].astype('float32')

ya_books.to_parquet(DIR + 'ya_books_clean.parquet', index = False)

In [1]:
#export to parquet
DIR_new = 'C:\\Users\\jesse\\Desktop\\Honors Project\\goodreads_data\\'
ya_books.to_parquet(DIR + 'ya_books_clean.parquet', index = False)

NameError: name 'ya_books' is not defined

## Shelves from Books

In [ ]:
books.head()

,book_id,title,series,text_reviews_count,ratings_count,country_code,language_code,popular_shelves,is_ebook,average_rating,similar_books,description,authors,publisher,num_pages,publication_year
0,12182387,"The Passion (Dark Visions, #3)",[147734],1,4,US,None,"[to-read, young-adult, ya, paranormal, fantasy...",true,4.039062,"[519546, 1295074, 21407416]",This is the final tale in the bestselling auth...,"[50873, 232533]",None,None,None
1,20135365,Hope's Daughter,[425995],2,5,US,None,"[to-read, sci-fi, young-adult, dystopia, dysto...",true,3.800781,"[13400912, 13327517, 18107102, 15797097, 11472...",Life should be simple for Cassie.\nFor the sma...,[5395324],None,None,None
2,21401181,"Half Bad (Half Life, #1)",[493993],17,33,US,None,"[fantasy, young-adult, ya, favorites, books-i-...",true,3.800781,"[15728807, 17182499, 15673520, 16081758, 17842...",Wanted by no one.\nHunted by everyone.\nSixtee...,[7314532],Viking Children's,416,2014
3,10099492,Twelfth Grade Kills (The Chronicles of Vladimi...,[176160],9,152,US,eng,"[to-read, vampires, currently-reading, young-a...",true,4.351562,"[25861113, 7430195, 18765937, 6120544, 3247550...",It all comes down to this.\nVlad's running out...,[293603],None,None,None
4,22642971,The Body Electric,None,428,1525,US,eng,"[to-read, young-adult, sci-fi, science-fiction...",false,3.710938,"[20499652, 17934493, 13518102, 16210411, 17149...",The future world is at peace.\nElla Shepherd h...,[4018722],Scripturient Books,351,2014

In [ ]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93398 entries, 0 to 93397
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   book_id             93398 non-null  int32
 1   title               93398 non-null  object
 2   series              54640 non-null  object
 3   text_reviews_count  93398 non-null  int32
 4   ratings_count       93398 non-null  int32
 5   country_code        93398 non-null  object
 6   language_code       63766 non-null  object
 7   popular_shelves     93398 non-null  object
 8   is_ebook            93398 non-null  object
 9   average_rating      93398 non-null  float32
 10  similar_books       93398 non-null  object
 11  description         89110 non-null  object
 12  authors             93398 non-null  object
 13  publisher           74799 non-null  object
 14  num_pages           71695 non-null  object
 15  publication_year    77895 non-null  object
dtypes: float32(1), int32(3), object(12)
memory usage: 10.0+ MB

In [ ]:
books['popular_shelves'] = books['popular_shelves'].progress_apply(lambda x: str(x))

100%|██████████| 93398/93398 [00:36<00:00, 2569.36it/s]

In [ ]:
books

,book_id,title,series,text_reviews_count,ratings_count,country_code,language_code,popular_shelves,is_ebook,average_rating,similar_books,description,authors,publisher,num_pages,publication_year
0,12182387,"The Passion (Dark Visions, #3)",[147734],1,4,US,None,['to-read' 'young-adult' 'ya' 'paranormal' 'fa...,true,4.039062,"[519546, 1295074, 21407416]",This is the final tale in the bestselling auth...,"[50873, 232533]",None,None,None
1,20135365,Hope's Daughter,[425995],2,5,US,None,['to-read' 'sci-fi' 'young-adult' 'dystopia' '...,true,3.800781,"[13400912, 13327517, 18107102, 15797097, 11472...",Life should be simple for Cassie.\nFor the sma...,[5395324],None,None,None
2,21401181,"Half Bad (Half Life, #1)",[493993],17,33,US,None,['fantasy' 'young-adult' 'ya' 'favorites' 'boo...,true,3.800781,"[15728807, 17182499, 15673520, 16081758, 17842...",Wanted by no one.\nHunted by everyone.\nSixtee...,[7314532],Viking Children's,416,2014
3,10099492,Twelfth Grade Kills (The Chronicles of Vladimi...,[176160],9,152,US,eng,['to-read' 'vampires' 'currently-reading' 'you...,true,4.351562,"[25861113, 7430195, 18765937, 6120544, 3247550...",It all comes down to this.\nVlad's running out...,[293603],None,None,None
4,22642971,The Body Electric,None,428,1525,US,eng,['to-read' 'young-adult' 'sci-fi' 'science-fic...,false,3.710938,"[20499652, 17934493, 13518102, 16210411, 17149...",The future world is at peace.\nElla Shepherd h...,[4018722],Scripturient Books,351,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93393,18221503,"Ölmem Gerekirse (Revenants, #3)",[294897],3,21,US,tur,['to-read' 'favorites' 'young-adult' 'paranorm...,false,4.210938,"[11413298, 13508069, 7849034, 10552965, 155206...",Sevdigini Kurtarmak Icin Ne Kadarina Hazirsin?...,[3353516],Akil Celen Kitaplar,408,2013
93394,8987191,"The Mockingbirds (The Mockingbirds, #1)",[238215],9,42,US,en-US,['to-read' 'young-adult' 'ya' 'contemporary' '...,true,3.789062,"[8574517, 6440071, 6625948, 7036227, 6768407, ...",Some schools have honor codes.\nOthers have ha...,[3081700],"Little, Brown Books for Young Readers",360,2010
93395,1885730,Joel and Cat Set the Story Straight,None,55,1094,US,None,['to-read' 'young-adult' 'ya' 'australian' 'ro...,false,3.779297,"[1957880, 2490879, 8030321, 13152142, 6849661,...",None,"[348478, 570577]",Penguin,240,2007
93396,23636536,Another Day,[540527],14,29,US,eng,['to-read' 'currently-reading' 'young-adult' '...,true,3.669922,"[26802671, 20662291, 23615716, 23870836, 21490...",The eagerly anticipated companion to David Lev...,[11664],Knopf Books for Young Readers,336,2015
93397,17805813,"Ondine (Ondine Quartet, #0.5)",[494165],27,327,US,en-GB,['to-read' 'young-adult' 'paranormal' 'fantasy...,true,4.019531,"[18868682, 18171572, 15795797, 16120595, 29228...","""I shouldn't get involved.""\nRebellious and he...",[4633056],None,84,2013

In [ ]:
#tokenize the popular_shelves column on space
books['popular_shelves_token'] = books['popular_shelves'].progress_apply(lambda x: x.split(' '))

100%|██████████| 93398/93398 [00:02<00:00, 46382.97it/s]

In [ ]:
books

,book_id,title,series,text_reviews_count,ratings_count,country_code,language_code,popular_shelves,is_ebook,average_rating,similar_books,description,authors,publisher,num_pages,publication_year,popular_shelves_token
0,12182387,"The Passion (Dark Visions, #3)",[147734],1,4,US,None,['to-read' 'young-adult' 'ya' 'paranormal' 'fa...,true,4.039062,"[519546, 1295074, 21407416]",This is the final tale in the bestselling auth...,"[50873, 232533]",None,None,None,"[['to-read', 'young-adult', 'ya', 'paranormal'..."
1,20135365,Hope's Daughter,[425995],2,5,US,None,['to-read' 'sci-fi' 'young-adult' 'dystopia' '...,true,3.800781,"[13400912, 13327517, 18107102, 15797097, 11472...",Life should be simple for Cassie.\nFor the sma...,[5395324],None,None,None,"[['to-read', 'sci-fi', 'young-adult', 'dystopi..."
2,21401181,"Half Bad (Half Life, #1)",[493993],17,33,US,None,['fantasy' 'young-adult' 'ya' 'favorites' 'boo...,true,3.800781,"[15728807, 17182499, 15673520, 16081758, 17842...",Wanted by no one.\nHunted by everyone.\nSixtee...,[7314532],Viking Children's,416,2014,"[['fantasy', 'young-adult', 'ya', 'favorites',..."
3,10099492,Twelfth Grade Kills (The Chronicles of Vladimi...,[176160],9,152,US,eng,['to-read' 'vampires' 'currently-reading' 'you...,true,4.351562,"[25861113, 7430195, 18765937, 6120544, 3247550...",It all comes down to this.\nVlad's running out...,[293603],None,None,None,"[['to-read', 'vampires', 'currently-reading', ..."
4,22642971,The Body Electric,None,428,1525,US,eng,['to-read' 'young-adult' 'sci-fi' 'science-fic...,false,3.710938,"[20499652, 17934493, 13518102, 16210411, 17149...",The future world is at peace.\nElla Shepherd h...,[4018722],Scripturient Books,351,2014,"[['to-read', 'young-adult', 'sci-fi', 'science..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93393,18221503,"Ölmem Gerekirse (Revenants, #3)",[294897],3,21,US,tur,['to-read' 'favorites' 'young-adult' 'paranorm...,false,4.210938,"[11413298, 13508069, 7849034, 10552965, 155206...",Sevdigini Kurtarmak Icin Ne Kadarina Hazirsin?...,[3353516],Akil Celen Kitaplar,408,2013,"[['to-read', 'favorites', 'young-adult', 'para..."
93394,8987191,"The Mockingbirds (The Mockingbirds, #1)",[238215],9,42,US,en-US,['to-read' 'young-adult' 'ya' 'contemporary' '...,true,3.789062,"[8574517, 6440071, 6625948, 7036227, 6768407, ...",Some schools have honor codes.\nOthers have ha...,[3081700],"Little, Brown Books for Young Readers",360,2010,"[['to-read', 'young-adult', 'ya', 'contemporar..."
93395,1885730,Joel and Cat Set the Story Straight,None,55,1094,US,None,['to-read' 'young-adult' 'ya' 'australian' 'ro...,false,3.779297,"[1957880, 2490879, 8030321, 13152142, 6849661,...",None,"[348478, 570577]",Penguin,240,2007,"[['to-read', 'young-adult', 'ya', 'australian'..."
93396,23636536,Another Day,[540527],14,29,US,eng,['to-read' 'currently-reading' 'young-adult' '...,true,3.669922,"[26802671, 20662291, 23615716, 23870836, 21490...",The eagerly anticipated companion to David Lev...,[11664],Knopf Books for Young Readers,336,2015,"[['to-read', 'currently-reading', 'young-adult..."
93397,17805813,"Ondine (Ondine Quartet, #0.5)",[494165],27,327,US,en-GB,['to-read' 'young-adult' 'paranormal' 'fantasy...,true,4.019531,"[18868682, 18171572, 15795797, 16120595, 29228...","""I shouldn't get involved.""\nRebellious and he...",[4633056],None,84,2013,"[['to-read', 'young-adult', 'paranormal', 'fan..."

In [ ]:
shelf_counts = books['popular_shelves_token'].explode().value_counts()

In [ ]:
shelf_counts

popular_shelves_token
['to-read'                              86920
'young-adult'                           82376
'currently-reading'                     71588
'ya'                                    65744
'fiction'                               61688
                                        ...
'strange-love'                              1
'middlebury-c'                              1
'metropolitan-state-faculty-shelf'\n        1
'read-tbr-in-our-homeschool'\n              1
'amazon-library']                           1
Name: count, Length: 296646, dtype: int64

In [ ]:
#shelf counts to dataframe
shelf_counts = shelf_counts.to_frame().reset_index()
shelf_counts.columns = ['shelf', 'count']
shelf_counts

                                       shelf  count
0                                 ['to-read'  86920
1                              'young-adult'  82376
2                        'currently-reading'  71588
3                                       'ya'  65744
4                                  'fiction'  61688
...                                      ...    ...
296641                        'strange-love'      1
296642                        'middlebury-c'      1
296643  'metropolitan-state-faculty-shelf'\n      1
296644        'read-tbr-in-our-homeschool'\n      1
296645                     'amazon-library']      1

[296646 rows x 2 columns]