In [1]:
import gzip
import numpy as np
import pandas as pd

c:\Users\jesse\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Importing and prelim column selection

In [2]:
# Function to process a chunk of data
def process_data(chunk, columns=None):
    # If columns is not None, keep only those columns
    if columns is not None:
        chunk = chunk[columns]
    return chunk

# Function to read data in chunks and process each chunk
def load_data(file_name, head = None, columns=None, chunksize = 1000):
    chunks = []
    count = 0
    with gzip.open(file_name) as fin:
        for chunk in pd.read_json(fin, lines=True, chunksize=chunksize):
            # Process the chunk
            processed_chunk = process_data(chunk, columns)
            chunks.append(processed_chunk)
            
            count += 1
            # break if reaches the head-th chunk
            if (head is not None) and (count > head):
                break

    # Combine all chunks into a single DataFrame
    df = pd.concat(chunks, ignore_index=True)
    
    return df

In [3]:
DIR = 'C:\\Users\\jesse\\Desktop\\Honors Project\\goodreads_data\\raw\\'
ya_reviews = load_data(DIR + 'goodreads_reviews_young_adult.json.gz', head = 1)

In [4]:
ya_reviews

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,2767052,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...,Wed Jan 13 13:38:25 -0800 2010,Wed Mar 22 11:46:36 -0700 2017,Sun Mar 25 00:00:00 -0700 2012,Fri Mar 23 00:00:00 -0700 2012,24,25
1,7504b2aee1ecb5b2872d3da381c6c91e,23302416,84c0936a0f9868f38e75d2f9a5cb761e,5,I read this book because my fifth grade son wa...,Wed Jan 21 18:40:59 -0800 2015,Wed Oct 26 03:44:13 -0700 2016,,,0,0
2,f8a89075dc6de14857561522e729f82c,18053080,785c8db878f4009da9741dea51f641da,4,Though the book started out slow and only star...,Sat Jan 11 17:58:41 -0800 2014,Tue Dec 02 11:43:07 -0800 2014,Sat Apr 12 00:00:00 -0700 2014,Fri Apr 11 00:00:00 -0700 2014,0,0
3,f8a89075dc6de14857561522e729f82c,17383543,34dc3c45d07e82718b05e73167259aef,2,"*Update - 10/27/13* - After some sleep, I thin...",Sun Apr 21 19:42:28 -0700 2013,Fri Aug 15 07:55:01 -0700 2014,Sat Oct 26 00:00:00 -0700 2013,Fri Oct 25 00:00:00 -0700 2013,0,0
4,f8a89075dc6de14857561522e729f82c,16651458,d8d6b590780256fef7ae4a9550fe3e0d,5,"This is a moving, heartbreaking, view into a l...",Fri Jan 11 11:42:42 -0800 2013,Fri Mar 01 09:31:01 -0800 2013,Mon Jan 14 00:00:00 -0800 2013,Sat Jan 12 00:00:00 -0800 2013,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,d1e368a7d2870eb6fbf6e0d350568a2d,11235712,3e0f18f959ee2a25f82afc04c56e9111,4,I really like this twist on the classic Cinder...,Sun Jun 17 11:48:14 -0700 2012,Mon Oct 20 08:16:14 -0700 2014,Sun Oct 19 00:00:00 -0700 2014,Mon Oct 13 00:00:00 -0700 2014,0,0
1996,d1e368a7d2870eb6fbf6e0d350568a2d,12810834,008569bed43fcee3313c574266fc0b05,3,Interesting and well written. Starts a little ...,Thu Apr 26 16:43:55 -0700 2012,Fri Aug 25 11:25:03 -0700 2017,Tue May 01 00:00:00 -0700 2012,Thu Apr 26 00:00:00 -0700 2012,0,0
1997,d1e368a7d2870eb6fbf6e0d350568a2d,27183386,31f06dc1af01a471637d83123150a32f,3,"It took me 2 tries to finish this book, but I ...",Fri Mar 30 19:45:28 -0700 2012,Wed Apr 26 17:43:12 -0700 2017,Wed Apr 26 00:00:00 -0700 2017,Sat Apr 22 00:00:00 -0700 2017,0,0
1998,d1e368a7d2870eb6fbf6e0d350568a2d,8306857,a7aded22d01dcadf7b75ed595f1764c9,5,Wow! If you're looking for the next Hunger Gam...,Fri Mar 30 19:41:19 -0700 2012,Sat May 28 09:47:32 -0700 2016,Sun Apr 01 10:07:50 -0700 2012,Fri Mar 30 00:00:00 -0700 2012,0,0
1999,d1e368a7d2870eb6fbf6e0d350568a2d,9462883,adf545f2c9afcbf430795dad40139f02,3,I think the audiobook may have tainted my opin...,Mon Apr 25 11:12:52 -0700 2011,Sun Jul 09 19:41:39 -0700 2017,Sun Jul 09 00:00:00 -0700 2017,Fri Jun 30 00:00:00 -0700 2017,0,0

Keep from ya_reviews:
['book_id', 'review_id', 'rating', 'review_text', 'n_votes', 'n_comments']

In [5]:
ya_reviews = load_data(DIR + 'goodreads_reviews_young_adult.json.gz', columns = ['book_id','review_id', 'rating', 'review_text', 'n_votes', 'n_comments'])
ya_reviews.info()

KeyboardInterrupt:

In [ ]:
#check for duplicate review_id in ya_reviews
ya_reviews['review_id'].duplicated().sum()

0

In [ ]:
#print out the min and max for ya_reviews['book_id'] and rating and n_votes and n_comments
#for int and float types, print out the min and max, followed by the column name
for col in ya_reviews.columns:
    if ya_reviews[col].dtype == 'int64' or ya_reviews[col].dtype == 'float64':
        print(ya_reviews[col].min(), ya_reviews[col].max(), col)

50 36524503 book_id
0 5 rating
-3 3942 n_votes
-3 922 n_comments

For memory reasons, downgrade to min int fit

In [ ]:
ya_reviews['book_id'] = ya_reviews['book_id'].astype('int32')
ya_reviews['rating'] = ya_reviews['rating'].astype('int8')
ya_reviews['n_votes'] = ya_reviews['n_votes'].astype('int16')
ya_reviews['n_comments'] = ya_reviews['n_comments'].astype('int16')

In [ ]:
#replace blank values with NaN
ya_reviews.replace('', np.nan, inplace=True)

In [ ]:
ya_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2389900 entries, 0 to 2389899
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   book_id      int32
 1   review_id    object
 2   rating       int8
 3   review_text  object
 4   n_votes      int16
 5   n_comments   int16
dtypes: int16(2), int32(1), int8(1), object(2)
memory usage: 57.0+ MB

no nulls

In [ ]:
#check for nulls in ya_reviews
ya_reviews.isnull().sum()

book_id           0
review_id         0
rating            0
review_text    1246
n_votes           0
n_comments        0
dtype: int64

In [ ]:
#drop rows with nulls
ya_reviews.dropna(inplace=True)

## Preprocessing review text

In [ ]:
ya_reviews

,book_id,review_id,rating,review_text,n_votes,n_comments
0,2767052,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enjoyable quick read - couldn't put it down - it was like crack. \n I'm a bit bothered by the lack of backstory of how Panem and the Hunger Games come ab...,24,25
1,23302416,84c0936a0f9868f38e75d2f9a5cb761e,5,I read this book because my fifth grade son was required to for school. I'm so glad I did! I experienced a range of emotions & just loved it. Glad these middle schoolers are being exposed to the t...,0,0
2,18053080,785c8db878f4009da9741dea51f641da,4,"Though the book started out slow and only started to get interesting towards page 100, overall, it was worth the read.",0,0
3,17383543,34dc3c45d07e82718b05e73167259aef,2,"*Update - 10/27/13* - After some sleep, I thinking about Allegiant overall without the influence of other reviews, I changed my rating to a 2 which is deserved. \n I know that no author is going t...",0,0
4,16651458,d8d6b590780256fef7ae4a9550fe3e0d,5,"This is a moving, heartbreaking, view into a life of an obese 16 year old boy in high school. Don't let the name ""butter"" cause you to overlook reading this book. You see the life of butter from h...",0,0
...,...,...,...,...,...,...
2389895,6137154,1f6fc20b8187e8f36e12daf947b13e66,5,A really amazing book! It goes great with Graceling. It's connected to it in a way you don't realize until the end of either books. It really is amazing and semi-mind twisting.,0,0
2389896,10193062,fc86ebe129a7f14a09c0221c92f52f79,3,This book is better then the first. It has it's slow points \n (mostly the romance sections. I don't know why but it just doesn't interest me as much as it did in other books. Might be because I l...,0,0
2389897,6186357,15d0f64aa991f270c490e1a4d5b4011b,2,"I think this may have come from having expectations set to high. Everything I heard and read I was expecting to be blown away and I simply wasn't. I really don't like Thomas, I think he's an Idiot...",0,0
2389898,14740456,b048505c5b1e9ab8695afa3edce1b5d9,4,I generally liked the book. It had some parts that I felt were obvious but that is to be expected. The book also took many different turns that left me wanting to keep reading. The vampires are no...,0,0
2389899,7137327,9e332909706db667f28cd16567bbea07,3,To be honest I would probably rank it some where around 3.75. \n I'll write a proper review later.,0,0

### Cleaning

For most part content in * * is not particularly valuable

In [ ]:
#if a review has one or more words in all caps, add a column to the dataframe with a 1, else 0
ya_reviews['all_caps'] = ya_reviews['review_text'].str.contains(r'\b[A-Z]{2,}\b').astype(int)

In [ ]:
#lowercase all text in review_text_clean
ya_reviews['review_text_clean'] = ya_reviews['review_text'].str.lower()

While some quotes contain actual review content, particularly sarcasm, more often than not it is actual book quotes. Removing

In [ ]:
#remove text in * _ * format in review_text to a new column
ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].str.replace('\*.*?\*', '', regex=True)

In [ ]:
#drop any rows containing "see full review" or http
ya_reviews = ya_reviews[~ya_reviews['review_text_clean'].str.contains('see full review|http')]

Contractions

In [ ]:
import contractions
#apply contractions fix to review_text_clean on the text level
ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].apply(lambda x: contractions.fix(x))

C:\Users\jesse\AppData\Local\Temp\ipykernel_29984\2139168261.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].apply(lambda x: contractions.fix(x))

In [ ]:
ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].replace(r'"[^"]*"', '', regex=True)

Stopword removal (NOT DOING)

In [ ]:
replacements = {
    ',': '',
    ' - ': ' ',
    ' -': ' ',
    '- ': ' ',
    '-': '',
    '\\(': '',
    '\\)': '',
    '\\:': '',
    '\\;': '',
    '\\[': '',
    '\\]': '',
    '\\{': '',
    '\\}': '',
    "\\'": '',
    "\\.": '',
    '\\&': 'and',
    '\\"': ''
}
ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].replace(replacements, regex=True)

In [ ]:
#remove new lines from review_text_clean
ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].str.replace('\n', ' ')

noticing that some things are in weird combos of " ' and ' " so not getting properly removed UGH but gonna leave as is

In [ ]:
#ya reviews to pickles
ya_reviews.to_pickle(DIR + 'ya_reviews.pkl')