In [1]:
import gzip
import numpy as np
import pandas as pd

c:\Users\jesse\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Importing and prelim column selection

In [2]:
# Function to process a chunk of data
def process_data(chunk, columns=None):
    # If columns is not None, keep only those columns
    if columns is not None:
        chunk = chunk[columns]
    return chunk

# Function to read data in chunks and process each chunk
def load_data(file_name, head = None, columns=None, chunksize = 1000):
    chunks = []
    count = 0
    with gzip.open(file_name) as fin:
        for chunk in pd.read_json(fin, lines=True, chunksize=chunksize):
            # Process the chunk
            processed_chunk = process_data(chunk, columns)
            chunks.append(processed_chunk)
            
            count += 1
            # break if reaches the head-th chunk
            if (head is not None) and (count > head):
                break

    # Combine all chunks into a single DataFrame
    df = pd.concat(chunks, ignore_index=True)
    
    return df

In [3]:
DIR = 'C:\\Users\\jesse\\Desktop\\Honors Project\\goodreads_data\\raw\\'
ya_reviews = load_data(DIR + 'goodreads_reviews_young_adult.json.gz', head = 1)

In [4]:
ya_reviews

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,2767052,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...,Wed Jan 13 13:38:25 -0800 2010,Wed Mar 22 11:46:36 -0700 2017,Sun Mar 25 00:00:00 -0700 2012,Fri Mar 23 00:00:00 -0700 2012,24,25
1,7504b2aee1ecb5b2872d3da381c6c91e,23302416,84c0936a0f9868f38e75d2f9a5cb761e,5,I read this book because my fifth grade son wa...,Wed Jan 21 18:40:59 -0800 2015,Wed Oct 26 03:44:13 -0700 2016,,,0,0
2,f8a89075dc6de14857561522e729f82c,18053080,785c8db878f4009da9741dea51f641da,4,Though the book started out slow and only star...,Sat Jan 11 17:58:41 -0800 2014,Tue Dec 02 11:43:07 -0800 2014,Sat Apr 12 00:00:00 -0700 2014,Fri Apr 11 00:00:00 -0700 2014,0,0
3,f8a89075dc6de14857561522e729f82c,17383543,34dc3c45d07e82718b05e73167259aef,2,"*Update - 10/27/13* - After some sleep, I thin...",Sun Apr 21 19:42:28 -0700 2013,Fri Aug 15 07:55:01 -0700 2014,Sat Oct 26 00:00:00 -0700 2013,Fri Oct 25 00:00:00 -0700 2013,0,0
4,f8a89075dc6de14857561522e729f82c,16651458,d8d6b590780256fef7ae4a9550fe3e0d,5,"This is a moving, heartbreaking, view into a l...",Fri Jan 11 11:42:42 -0800 2013,Fri Mar 01 09:31:01 -0800 2013,Mon Jan 14 00:00:00 -0800 2013,Sat Jan 12 00:00:00 -0800 2013,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,d1e368a7d2870eb6fbf6e0d350568a2d,11235712,3e0f18f959ee2a25f82afc04c56e9111,4,I really like this twist on the classic Cinder...,Sun Jun 17 11:48:14 -0700 2012,Mon Oct 20 08:16:14 -0700 2014,Sun Oct 19 00:00:00 -0700 2014,Mon Oct 13 00:00:00 -0700 2014,0,0
1996,d1e368a7d2870eb6fbf6e0d350568a2d,12810834,008569bed43fcee3313c574266fc0b05,3,Interesting and well written. Starts a little ...,Thu Apr 26 16:43:55 -0700 2012,Fri Aug 25 11:25:03 -0700 2017,Tue May 01 00:00:00 -0700 2012,Thu Apr 26 00:00:00 -0700 2012,0,0
1997,d1e368a7d2870eb6fbf6e0d350568a2d,27183386,31f06dc1af01a471637d83123150a32f,3,"It took me 2 tries to finish this book, but I ...",Fri Mar 30 19:45:28 -0700 2012,Wed Apr 26 17:43:12 -0700 2017,Wed Apr 26 00:00:00 -0700 2017,Sat Apr 22 00:00:00 -0700 2017,0,0
1998,d1e368a7d2870eb6fbf6e0d350568a2d,8306857,a7aded22d01dcadf7b75ed595f1764c9,5,Wow! If you're looking for the next Hunger Gam...,Fri Mar 30 19:41:19 -0700 2012,Sat May 28 09:47:32 -0700 2016,Sun Apr 01 10:07:50 -0700 2012,Fri Mar 30 00:00:00 -0700 2012,0,0
1999,d1e368a7d2870eb6fbf6e0d350568a2d,9462883,adf545f2c9afcbf430795dad40139f02,3,I think the audiobook may have tainted my opin...,Mon Apr 25 11:12:52 -0700 2011,Sun Jul 09 19:41:39 -0700 2017,Sun Jul 09 00:00:00 -0700 2017,Fri Jun 30 00:00:00 -0700 2017,0,0

Keep from ya_reviews:
['book_id', 'review_id', 'rating', 'review_text', 'n_votes', 'n_comments']

In [5]:
ya_reviews = load_data(DIR + 'goodreads_reviews_young_adult.json.gz', columns = ['book_id','review_id', 'rating', 'review_text', 'n_votes', 'n_comments'])
ya_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2389900 entries, 0 to 2389899
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   book_id      int64
 1   review_id    object
 2   rating       int64
 3   review_text  object
 4   n_votes      int64
 5   n_comments   int64
dtypes: int64(4), object(2)
memory usage: 109.4+ MB

In [6]:
#check for duplicate review_id in ya_reviews
ya_reviews['review_id'].duplicated().sum()

0

In [7]:
#print out the min and max for ya_reviews['book_id'] and rating and n_votes and n_comments
#for int and float types, print out the min and max, followed by the column name
for col in ya_reviews.columns:
    if ya_reviews[col].dtype == 'int64' or ya_reviews[col].dtype == 'float64':
        print(ya_reviews[col].min(), ya_reviews[col].max(), col)

50 36524503 book_id
0 5 rating
-3 3942 n_votes
-3 922 n_comments

For memory reasons, downgrade to min int fit

In [8]:
ya_reviews['book_id'] = ya_reviews['book_id'].astype('int32')
ya_reviews['rating'] = ya_reviews['rating'].astype('int8')
ya_reviews['n_votes'] = ya_reviews['n_votes'].astype('int16')
ya_reviews['n_comments'] = ya_reviews['n_comments'].astype('int16')

In [9]:
#replace blank values with NaN
ya_reviews.replace('', np.nan, inplace=True)

In [10]:
ya_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2389900 entries, 0 to 2389899
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   book_id      int32
 1   review_id    object
 2   rating       int8
 3   review_text  object
 4   n_votes      int16
 5   n_comments   int16
dtypes: int16(2), int32(1), int8(1), object(2)
memory usage: 57.0+ MB

no nulls

In [11]:
#check for nulls in ya_reviews
ya_reviews.isnull().sum()

book_id           0
review_id         0
rating            0
review_text    1246
n_votes           0
n_comments        0
dtype: int64

In [12]:
#drop rows with nulls
ya_reviews.dropna(inplace=True)

## Preprocessing review text

In [13]:
ya_reviews

,book_id,review_id,rating,review_text,n_votes,n_comments
0,2767052,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...,24,25
1,23302416,84c0936a0f9868f38e75d2f9a5cb761e,5,I read this book because my fifth grade son wa...,0,0
2,18053080,785c8db878f4009da9741dea51f641da,4,Though the book started out slow and only star...,0,0
3,17383543,34dc3c45d07e82718b05e73167259aef,2,"*Update - 10/27/13* - After some sleep, I thin...",0,0
4,16651458,d8d6b590780256fef7ae4a9550fe3e0d,5,"This is a moving, heartbreaking, view into a l...",0,0
...,...,...,...,...,...,...
2389895,6137154,1f6fc20b8187e8f36e12daf947b13e66,5,A really amazing book! It goes great with Grac...,0,0
2389896,10193062,fc86ebe129a7f14a09c0221c92f52f79,3,This book is better then the first. It has it'...,0,0
2389897,6186357,15d0f64aa991f270c490e1a4d5b4011b,2,I think this may have come from having expecta...,0,0
2389898,14740456,b048505c5b1e9ab8695afa3edce1b5d9,4,I generally liked the book. It had some parts ...,0,0
2389899,7137327,9e332909706db667f28cd16567bbea07,3,To be honest I would probably rank it some whe...,0,0

### Cleaning Text

For most part content in * * is not particularly valuable

In [14]:
#if a review has one or more words in all caps, add a column to the dataframe with a 1, else 0
ya_reviews['all_caps'] = ya_reviews['review_text'].str.contains(r'\b[A-Z]{2,}\b').astype(int)

In [15]:
#lowercase all text in review_text_clean
ya_reviews['review_text_clean'] = ya_reviews['review_text'].str.lower()

While some quotes contain actual review content, particularly sarcasm, more often than not it is actual book quotes. Removing

In [16]:
#remove text in * _ * format in review_text to a new column
ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].str.replace('\*.*?\*', '', regex=True)

In [17]:
#drop any rows containing "see full review" or http
ya_reviews = ya_reviews[~ya_reviews['review_text_clean'].str.contains('see full review|http')]

Contractions

In [18]:
import contractions
#apply contractions fix to review_text_clean on the text level
ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].apply(lambda x: contractions.fix(x))

C:\Users\jesse\AppData\Local\Temp\ipykernel_43356\2139168261.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].apply(lambda x: contractions.fix(x))

In [19]:
ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].replace(r'"[^"]*"', '', regex=True)

C:\Users\jesse\AppData\Local\Temp\ipykernel_43356\911996778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].replace(r'"[^"]*"', '', regex=True)

Stopword removal (NOT DOING)

In [20]:
replacements = {
    ',': '',
    ' - ': ' ',
    ' -': ' ',
    '- ': ' ',
    '-': '',
    '\\(': '',
    '\\)': '',
    '\\:': '',
    '\\;': '',
    '\\[': '',
    '\\]': '',
    '\\{': '',
    '\\}': '',
    "\\'": '',
    "\\.": '',
    '\\&': 'and',
    '\\"': ''
}
ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].replace(replacements, regex=True)

C:\Users\jesse\AppData\Local\Temp\ipykernel_43356\2081603408.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].replace(replacements, regex=True)

In [21]:
#remove new lines from review_text_clean
ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].str.replace('\n', ' ')

C:\Users\jesse\AppData\Local\Temp\ipykernel_43356\2695116595.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ya_reviews['review_text_clean'] = ya_reviews['review_text_clean'].str.replace('\n', ' ')

In [22]:
ya_reviews

,book_id,review_id,rating,review_text,n_votes,n_comments,all_caps,review_text_clean
0,2767052,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...,24,25,0,i cracked and finally picked this up very enjo...
1,23302416,84c0936a0f9868f38e75d2f9a5cb761e,5,I read this book because my fifth grade son wa...,0,0,0,i read this book because my fifth grade son wa...
2,18053080,785c8db878f4009da9741dea51f641da,4,Though the book started out slow and only star...,0,0,0,though the book started out slow and only star...
3,17383543,34dc3c45d07e82718b05e73167259aef,2,"*Update - 10/27/13* - After some sleep, I thin...",0,0,0,after some sleep i thinking about allegiant o...
4,16651458,d8d6b590780256fef7ae4a9550fe3e0d,5,"This is a moving, heartbreaking, view into a l...",0,0,0,this is a moving heartbreaking view into a lif...
...,...,...,...,...,...,...,...,...
2389895,6137154,1f6fc20b8187e8f36e12daf947b13e66,5,A really amazing book! It goes great with Grac...,0,0,0,a really amazing book! it goes great with grac...
2389896,10193062,fc86ebe129a7f14a09c0221c92f52f79,3,This book is better then the first. It has it'...,0,0,0,this book is better then the first it has it i...
2389897,6186357,15d0f64aa991f270c490e1a4d5b4011b,2,I think this may have come from having expecta...,0,0,0,i think this may have come from having expecta...
2389898,14740456,b048505c5b1e9ab8695afa3edce1b5d9,4,I generally liked the book. It had some parts ...,0,0,0,i generally liked the book it had some parts t...
2389899,7137327,9e332909706db667f28cd16567bbea07,3,To be honest I would probably rank it some whe...,0,0,0,to be honest i would probably rank it some whe...

## Lemmatizing text

In [ ]:
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

In [ ]:
def get_wordnet_pos(treebank_tag):
    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN  # Default to NOUN

def lemmatize_text(text):
    lemmatizer = WordNetLemmatizer()
    word_list = nltk.word_tokenize(text)
    pos_list = nltk.pos_tag(word_list)
    return ' '.join([lemmatizer.lemmatize(w[0], get_wordnet_pos(w[1])) for w in pos_list])

In [ ]:
ya_reviews_lem = ya_reviews(columns = ['book_id', 'review_id', 'review_text_clean'])
ya_reviews_lem['review_text_lemmatized'] = ya_reviews['review_text_clean'].apply(lemmatize_text)

## Finalizing reviews

In [ ]:
ya_reviews_merge = ya_reviews.merge(ya_reviews_lem, on=['book_id', 'review_id'])

In [ ]:
ya_reviews_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2388654 entries, 0 to 2388653
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   book_id                 int32
 1   review_id               object
 2   rating                  int8
 3   review_text             object
 4   n_votes                 int16
 5   n_comments              int16
 6   all_caps                int32
 7   review_text_clean       object
 8   review_text_lemmatized  object
dtypes: int16(2), int32(2), int8(1), object(4)
memory usage: 102.5+ MB

### Cleaning final review file

In [ ]:
ya_reviews_merge.head()

,book_id,review_id,rating,review_text,n_votes,n_comments,all_caps,review_text_clean,review_text_lemmatized
0,2767052,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...,24,25,0,i cracked and finally picked this up very enjo...,i crack and finally pick this up very enjoyabl...
1,23302416,84c0936a0f9868f38e75d2f9a5cb761e,5,I read this book because my fifth grade son wa...,0,0,0,i read this book because my fifth grade son wa...,i read this book because my fifth grade son be...
2,18053080,785c8db878f4009da9741dea51f641da,4,Though the book started out slow and only star...,0,0,0,though the book started out slow and only star...,though the book start out slow and only start ...
3,17383543,34dc3c45d07e82718b05e73167259aef,2,"*Update - 10/27/13* - After some sleep, I thin...",0,0,0,*update 10/27/13* after some sleep i thinking ...,after some sleep i think about allegiant overa...
4,16651458,d8d6b590780256fef7ae4a9550fe3e0d,5,"This is a moving, heartbreaking, view into a l...",0,0,0,this is a moving heartbreaking view into a lif...,this be a move heartbreaking view into a life ...

In [ ]:
#drop review_text_clean
ya_reviews_merge.drop(columns=['review_text_clean'], inplace=True)

In [ ]:
#which contain "see full review"
ya_reviews_merge['review_text'].str.contains('see full review').sum()

183

In [ ]:
ya_reviews_merge[ya_reviews_merge['review_text'].str.contains('see full review')]

,book_id,review_id,rating,review_text,n_votes,n_comments,all_caps,review_text_lemmatized
1012,199786,c988c597055694e130bf2e2683eb0ca7,4,see full review for Ninth Key at: https://toom...,0,0,0,see full review for ninth key at https//tooman...
20405,18335634,e11a2570d06a45fb40412815c3de7cc3,5,see full review @ Katie's Corner \n Are we rea...,0,0,1,see full review @ katies corner be we ready fo...
20406,24951744,bb4ff63641a8c27416597a3c02bec5a2,4,see full review @ Katie's Corner \n Hello ever...,0,0,1,see full review @ katies corner hello everyone...
20407,25466126,8cb40fba7b640d8565bd04aefe79a531,4,see full review @ Katie's Corner \n When I fir...,2,0,0,see full review @ katies corner when i first g...
20408,25323707,120ebac8198eecd6d8c8bd77cac6167d,5,see full review @ Katie's Corner \n Actual rat...,1,0,1,see full review @ katies corner actual rating ...
...,...,...,...,...,...,...,...,...
1890233,22836575,92ba1d8a2bb90e0b7d1314f528c240f5,3,Overall an okay book. Not a fan of the main ch...,2,0,0,overall an okay book not a fan of the main cha...
2010514,6992584,52bf13f9ab3bc4dca71f275372a7d743,2,Didnt enjoy this book very much \n see full re...,0,0,0,do not enjoy this book very much see full revi...
2120356,23556477,3b4530616a060be0880d75f0619a065a,3,This book was a strange read for me. It had an...,0,0,1,this book be a strange read for me it have an ...
2242482,13047090,640082ff64c048d74c35619560e26dfe,5,"I wasn't as wowed by this book, but overall it...",0,0,0,i be not a wow by this book but overall it be ...
2242487,12578077,5012f29fed66d7f3621b456c2fb67f64,5,OMG this was so totally awesome! \n I loved Da...,0,0,1,omg this be so totally awesome ! i love daemon...

In [ ]:
import re

ya_reviews_merge['review_text_lemmatized'] = ya_reviews_merge['review_text_lemmatized'].progress_apply(lambda x: re.sub(r'see full review .* https?//\S+', '', x))

ya_reviews_merge['review_text_lemmatized'] = ya_reviews_merge['review_text_lemmatized'].progress_apply(lambda x: re.sub(r'see full review @ katies corner', '', x))

ya_reviews_merge['review_text_lemmatized'] = ya_reviews_merge['review_text_lemmatized'].progress_apply(lambda x: re.sub(r'http\S+', '', x))

ya_reviews_merge['review_text_lemmatized'] = ya_reviews_merge['review_text_lemmatized'].progress_apply(lambda x: re.sub(r'see full review', '', x))

100%|██████████| 2388654/2388654 [00:05<00:00, 462193.20it/s]
100%|██████████| 2388654/2388654 [00:05<00:00, 464452.63it/s]
100%|██████████| 2388654/2388654 [00:05<00:00, 437829.74it/s]
100%|██████████| 2388654/2388654 [00:05<00:00, 433111.96it/s]

In [ ]:
ya_reviews_merge[ya_reviews_merge['review_text'].str.contains('see full review')]

,book_id,review_id,rating,review_text,n_votes,n_comments,all_caps,review_text_lemmatized
1012,199786,c988c597055694e130bf2e2683eb0ca7,4,see full review for Ninth Key at: https://toom...,0,0,0,susannah simon be adjust nicely to live in su...
20405,18335634,e11a2570d06a45fb40412815c3de7cc3,5,see full review @ Katie's Corner \n Are we rea...,0,0,1,be we ready for the final instalment of the i...
20406,24951744,bb4ff63641a8c27416597a3c02bec5a2,4,see full review @ Katie's Corner \n Hello ever...,0,0,1,hello everyone and welcome back to katies cor...
20407,25466126,8cb40fba7b640d8565bd04aefe79a531,4,see full review @ Katie's Corner \n When I fir...,2,0,0,when i first get this offer to review the boo...
20408,25323707,120ebac8198eecd6d8c8bd77cac6167d,5,see full review @ Katie's Corner \n Actual rat...,1,0,1,actual rating 45 leaf todays the not the firs...
...,...,...,...,...,...,...,...,...
1890233,22836575,92ba1d8a2bb90e0b7d1314f528c240f5,3,Overall an okay book. Not a fan of the main ch...,2,0,0,overall an okay book not a fan of the main cha...
2010514,6992584,52bf13f9ab3bc4dca71f275372a7d743,2,Didnt enjoy this book very much \n see full re...,0,0,0,do not enjoy this book very much
2120356,23556477,3b4530616a060be0880d75f0619a065a,3,This book was a strange read for me. It had an...,0,0,1,this book be a strange read for me it have an ...
2242482,13047090,640082ff64c048d74c35619560e26dfe,5,"I wasn't as wowed by this book, but overall it...",0,0,0,i be not a wow by this book but overall it be ...
2242487,12578077,5012f29fed66d7f3621b456c2fb67f64,5,OMG this was so totally awesome! \n I loved Da...,0,0,1,omg this be so totally awesome ! i love daemon...

### Saving as parquet file

In [ ]:
ya_reviews_merge.to_parquet(DIR + 'ya_reviews_prepped.parquet')