In [1]:
import gzip
import json
import re
import os
import sys
import numpy as np
import pandas as pd

In [2]:
# Function to process a chunk of data
def process_data(chunk, columns=None):
    # If columns is not None, keep only those columns
    if columns is not None:
        chunk = chunk[columns]
    return chunk

# Function to read data in chunks and process each chunk
def load_data(file_name, head = None, columns=None, chunksize = 1000):
    chunks = []
    count = 0
    with gzip.open(file_name) as fin:
        for chunk in pd.read_json(fin, lines=True, chunksize=chunksize):
            # Process the chunk
            processed_chunk = process_data(chunk, columns)
            chunks.append(processed_chunk)
            
            count += 1
            # break if reaches the head-th chunk
            if (head is not None) and (count > head):
                break

    # Combine all chunks into a single DataFrame
    df = pd.concat(chunks, ignore_index=True)
    
    return df

In [3]:
DIR = 'C:\\Users\\jesse\\Desktop\\Honors Project\\goodreads_data\\raw\\'
ya_books = load_data(DIR + 'goodreads_books_young_adult.json.gz', head = 1)
ya_reviews = load_data(DIR + 'goodreads_reviews_young_adult.json.gz', head = 1)
ya_interactions = load_data(DIR + 'goodreads_interactions_young_adult.json.gz', head = 1)
#books_works = load_data(DIR + 'goodreads_book_works.json.gz', head = 1)
#reviews = load_data(DIR + 'goodreads_reviews_spoiler.json.gz', head = 1)

In [4]:
ya_reviews

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,2767052,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...,Wed Jan 13 13:38:25 -0800 2010,Wed Mar 22 11:46:36 -0700 2017,Sun Mar 25 00:00:00 -0700 2012,Fri Mar 23 00:00:00 -0700 2012,24,25
1,7504b2aee1ecb5b2872d3da381c6c91e,23302416,84c0936a0f9868f38e75d2f9a5cb761e,5,I read this book because my fifth grade son wa...,Wed Jan 21 18:40:59 -0800 2015,Wed Oct 26 03:44:13 -0700 2016,,,0,0
2,f8a89075dc6de14857561522e729f82c,18053080,785c8db878f4009da9741dea51f641da,4,Though the book started out slow and only star...,Sat Jan 11 17:58:41 -0800 2014,Tue Dec 02 11:43:07 -0800 2014,Sat Apr 12 00:00:00 -0700 2014,Fri Apr 11 00:00:00 -0700 2014,0,0
3,f8a89075dc6de14857561522e729f82c,17383543,34dc3c45d07e82718b05e73167259aef,2,"*Update - 10/27/13* - After some sleep, I thin...",Sun Apr 21 19:42:28 -0700 2013,Fri Aug 15 07:55:01 -0700 2014,Sat Oct 26 00:00:00 -0700 2013,Fri Oct 25 00:00:00 -0700 2013,0,0
4,f8a89075dc6de14857561522e729f82c,16651458,d8d6b590780256fef7ae4a9550fe3e0d,5,"This is a moving, heartbreaking, view into a l...",Fri Jan 11 11:42:42 -0800 2013,Fri Mar 01 09:31:01 -0800 2013,Mon Jan 14 00:00:00 -0800 2013,Sat Jan 12 00:00:00 -0800 2013,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,d1e368a7d2870eb6fbf6e0d350568a2d,11235712,3e0f18f959ee2a25f82afc04c56e9111,4,I really like this twist on the classic Cinder...,Sun Jun 17 11:48:14 -0700 2012,Mon Oct 20 08:16:14 -0700 2014,Sun Oct 19 00:00:00 -0700 2014,Mon Oct 13 00:00:00 -0700 2014,0,0
1996,d1e368a7d2870eb6fbf6e0d350568a2d,12810834,008569bed43fcee3313c574266fc0b05,3,Interesting and well written. Starts a little ...,Thu Apr 26 16:43:55 -0700 2012,Fri Aug 25 11:25:03 -0700 2017,Tue May 01 00:00:00 -0700 2012,Thu Apr 26 00:00:00 -0700 2012,0,0
1997,d1e368a7d2870eb6fbf6e0d350568a2d,27183386,31f06dc1af01a471637d83123150a32f,3,"It took me 2 tries to finish this book, but I ...",Fri Mar 30 19:45:28 -0700 2012,Wed Apr 26 17:43:12 -0700 2017,Wed Apr 26 00:00:00 -0700 2017,Sat Apr 22 00:00:00 -0700 2017,0,0
1998,d1e368a7d2870eb6fbf6e0d350568a2d,8306857,a7aded22d01dcadf7b75ed595f1764c9,5,Wow! If you're looking for the next Hunger Gam...,Fri Mar 30 19:41:19 -0700 2012,Sat May 28 09:47:32 -0700 2016,Sun Apr 01 10:07:50 -0700 2012,Fri Mar 30 00:00:00 -0700 2012,0,0
1999,d1e368a7d2870eb6fbf6e0d350568a2d,9462883,adf545f2c9afcbf430795dad40139f02,3,I think the audiobook may have tainted my opin...,Mon Apr 25 11:12:52 -0700 2011,Sun Jul 09 19:41:39 -0700 2017,Sun Jul 09 00:00:00 -0700 2017,Fri Jun 30 00:00:00 -0700 2017,0,0

Keep from ya_reviews:
['book_id', 'review_id', 'rating', 'review_text', 'n_votes', 'n_comments']

In [5]:
ya_reviews = load_data(DIR + 'goodreads_reviews_young_adult.json.gz', columns = ['book_id', 'review_id', 'rating', 'review_text', 'n_votes', 'n_comments'])
ya_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2389900 entries, 0 to 2389899
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   book_id      int64
 1   review_id    object
 2   rating       int64
 3   review_text  object
 4   n_votes      int64
 5   n_comments   int64
dtypes: int64(4), object(2)
memory usage: 109.4+ MB

In [6]:
#print out the min and max for ya_reviews['book_id'] and rating and n_votes and n_comments
#for int and float types, print out the min and max, followed by the column name
for col in ya_reviews.columns:
    if ya_reviews[col].dtype == 'int64' or ya_reviews[col].dtype == 'float64':
        print(ya_reviews[col].min(), ya_reviews[col].max(), col)

50 36524503 book_id
0 5 rating
-3 3942 n_votes
-3 922 n_comments

For memory reasons, downgrade to min int fit

In [7]:
ya_reviews['book_id'] = ya_reviews['book_id'].astype('int32')
ya_reviews['rating'] = ya_reviews['rating'].astype('int8')
ya_reviews['n_votes'] = ya_reviews['n_votes'].astype('int16')
ya_reviews['n_comments'] = ya_reviews['n_comments'].astype('int16')

In [8]:
#check for duplicate review_id in ya_reviews
ya_reviews['review_id'].duplicated().sum()

0

In [9]:
#replace blank values with NaN
ya_books.replace('', np.nan, inplace=True)
ya_reviews.replace('', np.nan, inplace=True)
ya_interactions.replace('', np.nan, inplace=True)

In [10]:
#check for duplicate review_id in ya_reviews
ya_reviews['review_id'].duplicated().sum()

0

In [11]:
ya_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2389900 entries, 0 to 2389899
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   book_id      int32
 1   review_id    object
 2   rating       int8
 3   review_text  object
 4   n_votes      int16
 5   n_comments   int16
dtypes: int16(2), int32(1), int8(1), object(2)
memory usage: 57.0+ MB

no nulls