In [20]:
import pandas as pd
import pickle
from tqdm import tqdm
import numpy as np
import pandas as pd
import pickle
tqdm.pandas()

DIR = 'C:\\Users\\jesse\\Desktop\\Honors Project\\goodreads_data\\raw\\'

import pickle

Merging slightly cleaned and lemmatized reviews

In [21]:
with open (DIR + 'ya_reviews.pkl', 'rb') as f:
    ya_reviews = pickle.load(f)

ya_reviews.head()

,book_id,review_id,rating,review_text,n_votes,n_comments,all_caps,review_text_clean
0,2767052,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...,24,25,0,i cracked and finally picked this up very enjo...
1,23302416,84c0936a0f9868f38e75d2f9a5cb761e,5,I read this book because my fifth grade son wa...,0,0,0,i read this book because my fifth grade son wa...
2,18053080,785c8db878f4009da9741dea51f641da,4,Though the book started out slow and only star...,0,0,0,though the book started out slow and only star...
3,17383543,34dc3c45d07e82718b05e73167259aef,2,"*Update - 10/27/13* - After some sleep, I thin...",0,0,0,*update 10/27/13* after some sleep i thinking ...
4,16651458,d8d6b590780256fef7ae4a9550fe3e0d,5,"This is a moving, heartbreaking, view into a l...",0,0,0,this is a moving heartbreaking view into a lif...

In [22]:
ya_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2388654 entries, 0 to 2389899
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   book_id            int32
 1   review_id          object
 2   rating             int8
 3   review_text        object
 4   n_votes            int16
 5   n_comments         int16
 6   all_caps           int32
 7   review_text_clean  object
dtypes: int16(2), int32(2), int8(1), object(3)
memory usage: 102.5+ MB

In [23]:
ya_reviews_lem = pd.read_parquet(DIR +'new_ya_reviews_cleaned_21824.parquet')
ya_reviews_lem.head()

,book_id,review_id,review_text_lemmatized
0,2767052,248c011811e945eca861b5c31a549291,i crack and finally pick this up very enjoyabl...
1,23302416,84c0936a0f9868f38e75d2f9a5cb761e,i read this book because my fifth grade son be...
2,18053080,785c8db878f4009da9741dea51f641da,though the book start out slow and only start ...
3,17383543,34dc3c45d07e82718b05e73167259aef,after some sleep i think about allegiant overa...
4,16651458,d8d6b590780256fef7ae4a9550fe3e0d,this be a move heartbreaking view into a life ...

In [24]:
ya_reviews_lem.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2388654 entries, 0 to 2389899
Data columns (total 3 columns):
 #   Column                  Dtype
---  ------                  -----
 0   book_id                 int32
 1   review_id               object
 2   review_text_lemmatized  object
dtypes: int32(1), object(2)
memory usage: 63.8+ MB

In [25]:
#merge on book_id and review_id
ya_reviews_merge = ya_reviews.merge(ya_reviews_lem, on=['book_id', 'review_id'])

In [26]:
ya_reviews_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2388654 entries, 0 to 2388653
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   book_id                 int32
 1   review_id               object
 2   rating                  int8
 3   review_text             object
 4   n_votes                 int16
 5   n_comments              int16
 6   all_caps                int32
 7   review_text_clean       object
 8   review_text_lemmatized  object
dtypes: int16(2), int32(2), int8(1), object(4)
memory usage: 102.5+ MB

Finalizing review file

In [27]:
ya_reviews_merge.head()

,book_id,review_id,rating,review_text,n_votes,n_comments,all_caps,review_text_clean,review_text_lemmatized
0,2767052,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...,24,25,0,i cracked and finally picked this up very enjo...,i crack and finally pick this up very enjoyabl...
1,23302416,84c0936a0f9868f38e75d2f9a5cb761e,5,I read this book because my fifth grade son wa...,0,0,0,i read this book because my fifth grade son wa...,i read this book because my fifth grade son be...
2,18053080,785c8db878f4009da9741dea51f641da,4,Though the book started out slow and only star...,0,0,0,though the book started out slow and only star...,though the book start out slow and only start ...
3,17383543,34dc3c45d07e82718b05e73167259aef,2,"*Update - 10/27/13* - After some sleep, I thin...",0,0,0,*update 10/27/13* after some sleep i thinking ...,after some sleep i think about allegiant overa...
4,16651458,d8d6b590780256fef7ae4a9550fe3e0d,5,"This is a moving, heartbreaking, view into a l...",0,0,0,this is a moving heartbreaking view into a lif...,this be a move heartbreaking view into a life ...

In [28]:
#drop review_text_clean
ya_reviews_merge.drop(columns=['review_text_clean'], inplace=True)

In [29]:
#which contain "see full review"
ya_reviews_merge['review_text'].str.contains('see full review').sum()

183

In [31]:
ya_reviews_merge[ya_reviews_merge['review_text'].str.contains('see full review')]

,book_id,review_id,rating,review_text,n_votes,n_comments,all_caps,review_text_lemmatized
1012,199786,c988c597055694e130bf2e2683eb0ca7,4,see full review for Ninth Key at: https://toom...,0,0,0,see full review for ninth key at https//tooman...
20405,18335634,e11a2570d06a45fb40412815c3de7cc3,5,see full review @ Katie's Corner \n Are we rea...,0,0,1,see full review @ katies corner be we ready fo...
20406,24951744,bb4ff63641a8c27416597a3c02bec5a2,4,see full review @ Katie's Corner \n Hello ever...,0,0,1,see full review @ katies corner hello everyone...
20407,25466126,8cb40fba7b640d8565bd04aefe79a531,4,see full review @ Katie's Corner \n When I fir...,2,0,0,see full review @ katies corner when i first g...
20408,25323707,120ebac8198eecd6d8c8bd77cac6167d,5,see full review @ Katie's Corner \n Actual rat...,1,0,1,see full review @ katies corner actual rating ...
...,...,...,...,...,...,...,...,...
1890233,22836575,92ba1d8a2bb90e0b7d1314f528c240f5,3,Overall an okay book. Not a fan of the main ch...,2,0,0,overall an okay book not a fan of the main cha...
2010514,6992584,52bf13f9ab3bc4dca71f275372a7d743,2,Didnt enjoy this book very much \n see full re...,0,0,0,do not enjoy this book very much see full revi...
2120356,23556477,3b4530616a060be0880d75f0619a065a,3,This book was a strange read for me. It had an...,0,0,1,this book be a strange read for me it have an ...
2242482,13047090,640082ff64c048d74c35619560e26dfe,5,"I wasn't as wowed by this book, but overall it...",0,0,0,i be not a wow by this book but overall it be ...
2242487,12578077,5012f29fed66d7f3621b456c2fb67f64,5,OMG this was so totally awesome! \n I loved Da...,0,0,1,omg this be so totally awesome ! i love daemon...

In [32]:
import re

ya_reviews_merge['review_text_lemmatized'] = ya_reviews_merge['review_text_lemmatized'].progress_apply(lambda x: re.sub(r'see full review .* https?//\S+', '', x))

ya_reviews_merge['review_text_lemmatized'] = ya_reviews_merge['review_text_lemmatized'].progress_apply(lambda x: re.sub(r'see full review @ katies corner', '', x))

ya_reviews_merge['review_text_lemmatized'] = ya_reviews_merge['review_text_lemmatized'].progress_apply(lambda x: re.sub(r'http\S+', '', x))

ya_reviews_merge['review_text_lemmatized'] = ya_reviews_merge['review_text_lemmatized'].progress_apply(lambda x: re.sub(r'see full review', '', x))

100%|██████████| 2388654/2388654 [00:05<00:00, 462193.20it/s]
100%|██████████| 2388654/2388654 [00:05<00:00, 464452.63it/s]
100%|██████████| 2388654/2388654 [00:05<00:00, 437829.74it/s]
100%|██████████| 2388654/2388654 [00:05<00:00, 433111.96it/s]

In [33]:
ya_reviews_merge[ya_reviews_merge['review_text'].str.contains('see full review')]

,book_id,review_id,rating,review_text,n_votes,n_comments,all_caps,review_text_lemmatized
1012,199786,c988c597055694e130bf2e2683eb0ca7,4,see full review for Ninth Key at: https://toom...,0,0,0,susannah simon be adjust nicely to live in su...
20405,18335634,e11a2570d06a45fb40412815c3de7cc3,5,see full review @ Katie's Corner \n Are we rea...,0,0,1,be we ready for the final instalment of the i...
20406,24951744,bb4ff63641a8c27416597a3c02bec5a2,4,see full review @ Katie's Corner \n Hello ever...,0,0,1,hello everyone and welcome back to katies cor...
20407,25466126,8cb40fba7b640d8565bd04aefe79a531,4,see full review @ Katie's Corner \n When I fir...,2,0,0,when i first get this offer to review the boo...
20408,25323707,120ebac8198eecd6d8c8bd77cac6167d,5,see full review @ Katie's Corner \n Actual rat...,1,0,1,actual rating 45 leaf todays the not the firs...
...,...,...,...,...,...,...,...,...
1890233,22836575,92ba1d8a2bb90e0b7d1314f528c240f5,3,Overall an okay book. Not a fan of the main ch...,2,0,0,overall an okay book not a fan of the main cha...
2010514,6992584,52bf13f9ab3bc4dca71f275372a7d743,2,Didnt enjoy this book very much \n see full re...,0,0,0,do not enjoy this book very much
2120356,23556477,3b4530616a060be0880d75f0619a065a,3,This book was a strange read for me. It had an...,0,0,1,this book be a strange read for me it have an ...
2242482,13047090,640082ff64c048d74c35619560e26dfe,5,"I wasn't as wowed by this book, but overall it...",0,0,0,i be not a wow by this book but overall it be ...
2242487,12578077,5012f29fed66d7f3621b456c2fb67f64,5,OMG this was so totally awesome! \n I loved Da...,0,0,1,omg this be so totally awesome ! i love daemon...

In [34]:
ya_reviews_merge.to_parquet(DIR + 'ya_reviews_prepped.parquet')